---
const { title, image } = Astro.props.story

import Layout from '../../layouts/Layout.astro'
import stories from '../../data/stories.json'

// import the Image component and the image
import { Image } from 'astro:assets'

export async function getStaticPaths() {
	console.log(stories)

	return stories.map((story) => ({
		params: {
			slug: story.slug,
		},
		props: {
			story,
		},
	}))
}

const { story } = Astro.props
---

<Layout dark title='The Yemen Listening Project' header={true} footer={false}>
	<div class='w-full max-w-5xl mx-auto my-8'>
		<h1>{story.title}</h1>
		<p class="text-xl">{story.subheading}</p>
		<Image
			transition:name='image'
			src={`/downloaded_images/${image.fileName}`}
			width={image.width}
			height={image.height}
			decoding='async'
			loading='lazy'
			alt={`${story.title}`}
		/>
	</div>
</Layout>

<style>
	body {
		background: black;
	}

	body * {
		color: white;
	}
</style>